@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #e8f7ff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  word-break: keep-all;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
button {
  outline: 0;
  background-color: transparent;
}

button {
  cursor: pointer;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

div {
  -webkit-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  -webkit-user-select: text;
}
